main {
	max-width: 1250px;
}

table {
    font-family: Helvetica;
	border: 2px solid #dee2e6;
}

.total-value {
	text-decoration: underline;
	color: red;
	font-weight: bold;
}

.client-form input {
	width: 180px;
}

.add-shipper-form {
	border: 2px solid #dee2e6;
	border-radius: 5px;
	margin-bottom: 2rem;
}

.add-shipper-form button {
	margin: 0 0 0.5rem 0.5rem;
}

.add-shipper-form-fields {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

.add-shipper-form-fields input,
.add-shipper-form-fields select{
	width: 15rem;
	display: inline-block;
}


th {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c85d8+58,3c85d8+58,54a1e4+75 */
background: #7eafe6; /* Old browsers */
background: -moz-linear-gradient(top, #7eafe6 58%, #7eafe6 58%, #8fc1ed 75%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7eafe6 58%,#7eafe6 58%,#8fc1ed 75%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7eafe6 58%,#7eafe6 58%,#8fc1ed 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eafe6', endColorstr='#8fc1ed',GradientType=0 ); /* IE6-9 */
border-bottom: 1px solid black;
color: white;
font-size: 1rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

td input[type=number]{
    width: 54px;
}

.table td {
	padding: 0.25rem;
	vertical-align: middle;
}

.table-data {
	max-height: 24px;
	max-width: 363px;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.product-quantity {
	display: inline-block;
	width: 55px;
}

.fa-file-excel {
	color: green;
}

.fa-exclamation-triangle {
	color: red;
	display: inline-block;
	position: relative;
}

.fa-exclamation-triangle:hover,
.fa-exclamation-triangle:active,
.show-triangle {
	cursor: help;
	color: yellowgreen;
}

.status-message {
	cursor: help;
	border: black 1px dotted;
	border-radius: 2px;
	padding: 0.3rem 1.25rem 0.3rem 0.3rem;
	background: white;
    display: none;
    z-index: 1;
    margin: 0.6rem;
    width: 270px;
    position: absolute;
	bottom: 5px;
	font-size: 0.9rem;
	color: black;
	font-weight: normal;
}

.show {
	display: block;
}

.increments {
	display: inline-block;
	margin: 0.06rem;
}

.fa-plus-square{
	color: green;
}

.online {
	color: green;
}

.offline {
	color: red;
}